:root {
    --primary-color: #1a1a1d;
    --primary-color-light: #4e4e50;
    --primary-color-dark: #006978;

    --secondary-color: #80deea;
    --secondary-color-light: #b4ffff;
    --secondary-color-dark: #4bacb8;
}