
body {
    --primary-color: #0097a7;
    --primary-color-light: #56c8d8;
    --primary-color-dark: #006978;

    --secondary-color: #80deea;
    --secondary-color-light: #b4ffff;
    --secondary-color-dark: #4bacb8;
}